fastai==2.7.18
grad_cam==1.5.3
matplotlib==3.7.5
numpy==1.24.3
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
openpyxl==3.1.5
pandas==2.0.3
piq==0.8.0
scikit_learn==1.3.0
scipy==1.10.1
seaborn==0.13.2
shap==0.44.1
scikit-image==0.21.0
tabulate==0.9.0
torch==2.4.1
torch_lr_finder==0.2.2
torchmetrics==1.4.0.post0
torchsampler==0.1.2
torchvision==0.19.1
tqdm==4.66.5
